// button-colors

$backto-dashboard: #fff;
$border-bt-color:#f3f3f3; 

.boxsing-user {
    background-color: #fff;
}
.border-btm {
    border: 1px solid $border-bt-color;
}
// Heights

.h-55 {
    height: 55px;
}

// Width

.w-450 {
    width: 450px;
}