// button-colors

$backto-dashboard: #fff;
$border-bt-color:#f3f3f3;
$gray-color:#4e4d4d; 

.boxsing-user {
    background-color: #fff;
}
.border-btm {
    border: 1px solid $border-bt-color;
}
// Heights

.h-55 {
    height: 55px;
}

// Width

.w-400 {
    width: 400px;
}

.gray {
    color: $gray-color; 
    font-weight: 500;   
}

.styled-select {
    position: relative;
    select {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
    i {
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 1.2rem;
    }
}