$data-border-color: #f3f3f3;
$sucess-color: #ebffee;
$danger-color:#ffe7e6;

.form-data-wrapper {
    border-radius: 1rem;
    border: 1px solid $data-border-color;
}

.re-position-bin  {
    position: absolute;
    right: 10px;
    top: 15px;
}

.set-pagination {
    .page-item {
       a{
        font-size: 0.8rem;
       }
    }
}

// Heights

.h-55 {
    height: 55px;
}

// Width

.w-100 {
    width: 100%;
    display: block;
    
}

// overiding CSS

.sus {
    background-color: $sucess-color;
}

.dan {
    background-color: $danger-color;
}