$data-border-color: #f3f3f3; 
$PlaceHolder-color: #cfcfcf;
$Icon-color: #414141;

.form-data-wrapper {
    border-top-left-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0rem; 
    border: 1px solid $data-border-color;
    position: relative;
}

.font-search-icon  {
    position: absolute;
    top: 40%;
    right: 8%;
    font-size: 1.2rem;
    color: $Icon-color ; 
}

.menu-title {
    font-size: 0.9rem;
}
.sub-text {
    font-size: 0.6rem;
}
.result-number {
    font-size: small;
}
// Common CSS

.h-55 {
    height: 55px;
}

::placeholder{
    color: $PlaceHolder-color; 
} 

.lh-30 {
    line-height: 30px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
} 

// Overiding

.list-group-item+.list-group-item {
    border-top-width: 1px !important;
    border-radius: 0px; 
}
.list-group-item:first-child {
    border-radius: 0px; 
}