$data-border-color: #f3f3f3; 
$PlaceHolder-color: #cfcfcf;
$Icon-color: #414141;
$Icon-font-color: #fff;
$Liner-color:#5f62f6;
$Menu-icon-color:#698cad;
$Icon-font-link-color:#b8c2ce;
$Link-next-color:#666;

.form-data-wrapper {
    border-top-left-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0rem; 
    border: 1px solid $data-border-color;
    position: relative;
}

.font-search-icon  {
    position: absolute;
    top: 40%;
    right: 8%;
    font-size: 1.2rem;
    color: $Icon-color ; 
}

.menu-title {
    font-size: 0.9rem;
}
.sub-text {
    font-size: 0.6rem;
}
.result-number {
    font-size: small;
    color:$Icon-font-link-color;
}
.result--tnumber{
    color: $Link-next-color;
}
.pt-sim {
    li.active{
       span{
        background-color: #708095!important; 
        border: 1px solid #708095;
       }
    }
    li {
      
        a,span {
            font-size: 0.7rem;
            color: #708095;
            
        }
    }
}
// Common CSS

.h-55 {
    height: 55px;
}

::placeholder{
    color: $PlaceHolder-color; 
} 

.lh-30 {
    line-height: 30px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
} 

// Overiding

.list-group-item+.list-group-item {
    border-top-width: 1px !important;
    border-radius: 0px; 
}
.form-data-wrapper {
     
    .active{
      background-color: $Liner-color; 
      border: 1px solid $Liner-color;  
      color: $Icon-font-color;
      p,i,span{
        color: $Icon-font-color !important;
      } 
    }
    .list-group-item {
        i {
            font-size: 1.3rem;
            line-height: 20px;
            color: $Menu-icon-color;
        }
        p {
            color: $Menu-icon-color;
            font-weight: 500;
            line-height: 10px;
        }
    }
   
}

.list-group-item:first-child {
    border-radius: 0px; 
}