// main bg color
$main-bg-color:#fff;
 
.wrapper {
    // background-color: black;
    margin-top: 1.4rem;
    margin-left: 5.5rem;
    margin-right: 1.2rem;
}
.main {
    background-color: $main-bg-color;
}