.sidebar {
    background-color: #cabea2;
    height: 100%;
    position: fixed;
    
    a{
        width: 40px;
        height: 40px;
        position: relative;
        background-color: #b7ab8d;
        margin: 15px;
        display: block;
    }
}