$data-border-color: #f3f3f3;
$tab-border-color:#8789f8;
$btn-border-color: #eaf0f6;
$font-btn-border-color: #aac2da;

$badge-color:#f3f9ff;
$badge-font-color:#7697b6;
$badge-border-color:#7697b6;
$main-bg-wrapper-color:#fcfdfe;
$tab-content-bg-color:#fff;

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #8789f8 #8789f8 #fff;
}

.nav-tabs {
    border-color: $tab-border-color !important; 
}

.form-data-wrapper { 
    border: 1px solid $data-border-color;
    background-color: $main-bg-wrapper-color;
}

.form-data-wrapper {
    .tab-content { 
        border-left: 1px solid $tab-border-color;
        border-bottom: 1px solid $tab-border-color;
        border-right: 1px solid $tab-border-color;
        background-color: $tab-content-bg-color;
    }
}
.nav-tabs {
    border-color: $data-border-color; 
}

.main-box-wrapper {
    border: 1px solid $data-border-color; 
}

.box-wrapper {
    border: 1px solid $data-border-color;
    height: 55px;
}

.set-pagination {
    .page-item {
       a{
        font-size: 0.8rem;
        border: 1px solid $badge-border-color;
       }
    }
}

.equal {
    vertical-align: middle;
    position: relative;
    line-height: 50px;
    font-size: x-large;
}

.rule-data-wrapper {
    border: 1px solid $data-border-color;
}

.custom-badge2 {
    background-color: $badge-color;
    border: 1px solid $badge-border-color;
    color: $badge-font-color;
}

.dubble-arrow-top:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dubble-arrow-top {
    font-size: 2rem; 
    text-align: center;
    border: 1px solid #abc4db;
    width: 30px;
    background-color: #fff;
    height: 30px;
    i {
         
        color: #708095;
        cursor: pointer;
        vertical-align: top;
        font-size: 1.5rem;
       
    }
}

.positioning-top {
    position: absolute;
    top: 5px;
    right: 5px;
}

.margin-fix {
    margin-top: 25px;
}

.dubble-arrow-bottom:nth-child(2) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dubble-arrow-bottom {
    font-size: 2rem; 
    text-align: center;
    border: 1px solid #abc4db;
    width: 30px;
    background-color: #fff;
    height: 30px;
    i {
       
        color: #708095;
        cursor: pointer;
        vertical-align: top;
        font-size: 1.5rem;
       
    }
}

.positioning-bottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.dubble-set {
    .page-item{
        a{
            padding: 5px;
        }
    }
}
.margin-fix {
    margin-top: 25px;
}
  
// Height

.h-55 {
    height: 55px;
}
.h-35 {
    height: 35px;
}
.rule-btn-color {
    background-color: #fff !important;
    border: 1px solid $btn-border-color;
    color: $font-btn-border-color;
}

.liner-margin-fix {
    margin-left: 15%;
}

.hr-site {
    position: absolute; 
    width: 70px;
    top: 27px;
    left: -46px;
}
.vertical-liner {
    position: absolute;
    left: -45px;
    top: 104px;
    outline: #cfcfcf;
    width: 200px;
    transform: rotate(90deg);
}